.App {
    text-align: left;
    padding: 0px 25px;
}

a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #ffffff;
}

nav {
    text-align: center;
    margin-bottom: 1em;
    padding-bottom: 0.2em;
    padding-top: 2em;
    background-color: #ca2121;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-link a,
.nav-link button {
    text-decoration: none;
    color: #4bc9e9;
}

h3 {
    font-size: 2rem;
}

p,
li {
    font-size: 1.25rem;
}

ul {
    list-style: none;
}

input,
select,
textarea {
    padding: 0.4em 0.2em;
    font-size: 1.2rem;
}

.active {
    font-weight: bold;
}

.form {
    display: flex;
    align-items: normal;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.submit-button {
    color: #4bc9e9;
    background-color: #ca2121;
}

.delete-button {
    color: #ca2121;
    cursor: pointer;
}

.flex-horizontal {
    display: flex;
}

.green {
    color: #0b8d2b;
}

.background-green {
    background-color: #0b8d2b !important;
}

.red {
    color: #ca2121;
}

.background-red {
    background-color: #ca2121 !important;
}

.header-icon {
    font-size: 2rem;
}

.vertical-middle {
    vertical-align: middle;
}

.vertical-bottom {
    vertical-align: text-bottom;
}

.form-header {
    text-align: center;
    margin-top: 10px;
}